:root {
    --item-width: 100px;
    --radius: 10px;
    --box_size: 40vw;
}

section {
    border: solid 1px whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    margin-bottom: 0;
    border-radius: var(--radius);
    overflow: hidden;
    width: var(--box_size);
    height: var(--box_size);
    display: flex;
    justify-content: center;
    
    
}


div {

    border: 0.1vw solid gainsboro;
    font-size: calc(var(--box_size)/12.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
}

section.grid {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    
    
}

#equals {

    grid-row: span 4;
    background-color: palevioletred;
}



#result {

    font-family: 'Times New Roman', Times, serif;
    font-size: calc(var(--box_size)/10);
    color: white;   
    background-color: gray;
    border: none;
    grid-column: span 4;
    padding-right: 1vw;
    text-align: right;
}

.operators {

    background-color: rgb(166, 163, 163);
}
