.cardcontainer {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 2px 3px;
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

.cardcontainer>div {

    width: 100%;
    
}

/*------------------ START of .userdata sectoin--------------------------------------*/
.userdata {

    height: 10%;
    background-color: rgb(156, 155, 155);
    display: flex;
    flex-direction: row;

}


.userdata>div {
    
    height: 100%;
    flex: 1;
    
}

.profilepic {
    max-width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

#profilepicpreview {

    background-color: white;
    width: 38px;
    height: 38px;
    border-radius: 19px;

}

.username {
    max-width: 65%;
    padding: 5px;
}

#nameofuser {

    font-size: medium;
    font-weight: lighter;
}

#dateposted {

    font-size: small;
    color: white;
}

.hamburger {
    font-weight: bold;
    font-size: 20px;
    max-width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hamburger>div {
    max-height: 50%;
    flex: 1;
}

/* ---------------------------------END of .userdata section ------------------------------*/



.picture {

    height: 60%;
}


/*-------------------- START of .interaction section --------------------------------------*/
.interaction {

    height: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    

}

.interaction>div {

    height: 100%;
    width: 10%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px; 

}

/*------------------ END of .interaction section --------------------------------------*/

/*-------------------- START of .status section --------------------------------------*/
.status {
    height: 20%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.status>div {

    width: 93%;
    text-align: justify;
}


/*-------------------- END of .status section --------------------------------------*/
